pipeline/AzureSQLDB.json
{
	"name": "AzureSQLDB",
	"properties": {
		"activities": [
			{
				"name": "oldinsertDate",
				"description": "Old Data value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select Tablename,Inserteddate from LookupTable\nwhere Tablename='Orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceAzureDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewInsertdate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(Inserteddate) as Newvalue from orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureLookupTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "oldinsertDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewInsertdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from orders\nwhere Inserteddate>'@{activity('oldinsertDate').output.firstRow.Inserteddate}'\nand Inserteddate<='@{activity('NewInsertdate').output.firstRow.Newvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceAzureDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TargetAzureDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateMaxdate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[stgupdate]",
					"storedProcedureParameters": {
						"NewValue": {
							"value": {
								"value": "@activity('NewInsertdate').output.firstRow.Newvalue\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@activity('oldinsertDate').output.firstRow.Tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQLServer",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-01-01T09:38:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}